@model As.Core.Model.Details
@{
    Layout = null;
}
   <div>
        <Label>StudentId:</Label>
        @Html.DisplayFor(model=>model.StudentId)
    </div>
<div>
    <Label>FirstName:</Label>
    @Html.DisplayFor(model=>model.FirstName)
</div>
<div>
    <Label>LastName:</Label>
    @Html.DisplayFor(model=>model.LastName)
</div>
<div>
    <Label>Department:</Label>
    @Html.DisplayFor(model=>model.Department)
</div>
<div>
    <Label>Gender:</Label>
    @Html.DisplayFor(model=>model.Gender)
</div>
<div>
    <Label>Age:</Label>
    @Html.DisplayFor(model=>model.Age)
</div>
<div>
    <Label>Class:</Label>
    @Html.DisplayFor(model=>model.Class)
</div>
<div>
    <Label>YearOfJoining:</Label>
    @Html.DisplayFor(model=>model.YearOfJoining)
</div>
<div>
    <Label>Location:</Label>
    @Html.DisplayFor(model=>model.Location)
</div>
