@model IEnumerable<As.Core.Model.Details>
@{
    Layout = null;
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a10c7f6efa.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            background-image: url("download.JFIF");
        }
        .Table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
            text-align: center;
            width:100%;
            background-color:whitesmoke;
        }
        th, td {
            padding: 15px;
            border: 1px solid black;
            background-color:whitesmoke;
        }
    </style>
   
</head>
@using(Html.BeginForm("Search","Data",FormMethod.Get)){
    <p>
        Search: @Html.TextBox("Search")
        <input type="submit" name="search" value="Search" />
    </p>
}
<Center><h1 style="font-style:italic;"> Read </h1></Center>
<p>
    <input type="button" value="Create New" onclick="location.href='@Url.Action("Create", "Data")'" />
    @*@Html.ActionLink("","Create",new{id=item.StudentId},new{ @class="fa-solid fa-plus",title="Create"})*@
</p>

<table class="Table">
    <tr>
        <th> @Html.DisplayNameFor(a=>a.StudentId)</th>
        <th> @Html.DisplayNameFor(a=>a.FirstName)</th>
        <th> @Html.DisplayNameFor(a=>a.LastName)</th>
        <th> @Html.DisplayNameFor(a=>a.Department)</th>
        <th> @Html.DisplayNameFor(a=>a.Age)</th>
        <th> @Html.DisplayNameFor(a=>a.Class)</th>
        <th> @Html.DisplayNameFor(a=>a.Gender)</th>
        <th> @Html.DisplayNameFor(a=>a.YearOfJoining)</th>
        <th> @Html.DisplayNameFor(a=>a.Location)</th>
    </tr>
    @if(Model != null)
    {
         @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Department</td>
            <td>@item.Age</td>
            <td>@item.Class</td>
            <td>@item.Gender</td>
            <td>@item.YearOfJoining</td>
            <td>@item.Location</td>

            <td>@Html.ActionLink("","Edit",new{id=item.StudentId},new{@class="fa-solid fa-pen-to-square",title="Edit"})</td>
            <td>
                    <p type="submit" onclick="return confirm('Are you sure want to delete this record?')">
                        @Html.ActionLink("","Delete",new{id=item.StudentId},new{ @class="fa-solid fa-trash",title="Delete"})
                    </p>
            </td>
             <td>          
                <button style="background:white;border:none" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="partial('@item.StudentId')">
                    <i class="fa-solid fa-eye text-info" ,title="Detail"></i>
                </button>
                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="mybody">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
    }
    else
    {
        <td colspan="9">No Records Found</td>
    }
</table>
<script>
    function partial(id) {
        $("#myModal").css('display', 'block');
        $("#mybody").load("/Data/Detail/?id=" + id);
        $("#myModal").modal("show");
    }
</script>